@{
    ViewData["Title"] = "Home Page";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/_DarkLayout.cshtml";
}
<style>
    h1 {
      text-align: left;
    }

    h2 {
      text-align: center;
    }

    h3 {
      text-align: left;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Anasayfa</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>Zarar Tahmini</h3>
                <h3 id="result" class="center"> 1</h3>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a onclick="getAPIResponse()" class="small-box-footer">Hesapla <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>
                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>44</h3>
                <p>User Registrations</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>65</h3>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<script>
    // API'ye GET isteği gönderen fonksiyon
    function getAPIResponse() {
        $.get("http://127.0.0.1:5000", function (data) {
            // İstek tamamlandığında çalışacak olan fonksiyon
            var jsonData = JSON.parse(data); // Gelen veriyi JSON'dan JavaScript nesnesine çevirme
            console.log(jsonData); // Veriyi konsola yazdırma
            var resultDiv = document.getElementById("result");
            resultDiv.innerText = JSON.stringify(jsonData);
        });
    }
</script>